.btnscrolltotop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

.btnscrolltotop:active {
    background: #777s;
}
#btnscrolltotop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

#btnscrolltotop:active {
    background: #cc2333;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 49px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}