    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Roboto', Arial, sans-serif;
background-color:white;
    }
    
    .logo img {
        width: 250px;
    }
    
    .navbar {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
    nav {
        flex: 1;
        text-align: right;
    }
    
    nav ul {
        display: inline-block;
        list-style-type: none;
    }
    
    nav ul li {
        font-size: larger;
        display: inline-block;
        margin-right: 20px;
    }
    
    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    a1 {
        text-decoration: none;
        color: #FFFFF;
    }
    
    p {
        color: #555;
    }
    
    p1 {
        color: black;
        text-align: left;
    }
    
    p2 {
        font-size: 15px;
        color: #555;
        text-align: left;
    }
    
    .auteur {
        flex: 1;
        position: absolute;
        text-align: center;
        background-color: rgba(185, 171, 171, 0.404);
        color: rgb(253, 138, 123);
        margin-top: 0.5rem;
        margin-bottom: -15.9rem;
        margin-left: 0.2rem;
        margin-right: 45.8rem;
        font-size: 26px;
        line-height: 150%;
        font-weight: 700;
    }
    
    .date {
        flex: 1;
        text-align: center;
      
        color: beige;
        margin-top: 12.5rem;
        margin-bottom: -15.9rem;
        margin-left: 0rem;
        margin-right: 32rem;
        font-size: 26px;
        line-height: 150%;
        font-weight: 700;
    }
    
    .container {
        max-width: 1300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
  .row1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
    
    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
    }
    
    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }
    
    .btn {
        display: inline-block;
        background: #EC1B22;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s;
    }
    
    .btn:hover {
        background: #563434;
    }
.categories {
    margin: 70px 70px;
}

.col-categories {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    width: 300px;
    height: auto;
    display: inline-block;
    position: relative;
    transition: .3s;
    margin: 4px;
}

.col-categories img {
    width: 100%;
    height: 100%;
    transition: .3s;
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.col-categories:hover img {
    filter: blur(2px) brightness(60%);
  padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 0 16px cyan;

  
}

.col-categories :not(img) {
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: .3s;
}

.col-categories h3 {
    top: 50%
}

.col-categories:hover :not(img) {
    opacity: 1;*
}
    
    .header {
        background: radial-gradient(#fff, #999494);
    }
    
    .header .row {
        margin-top: 70px;
    }
 .header .row1 {
        margin-top: -67px;
    }
    
    .cart {
        width: 30px;
        height: 30px;
    }
    
    .categories {
        margin: 70px 0;
    }
    
    .col-3 {
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
    }
    
    .col-3 img {
        width: 100%
    }
    
    .small-container {
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .col-4 {
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
    }
    
    .col-4 img {
        width: 100%;
        width: 250px;
        height: 300px;
        object-fit: cover;
    }
}
.hoverprofile:hover {
    color: black;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after {
    content: '';
    background: #EC1B22;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-2 h1 {
    font-size: 38px;
}

/*------------------account page---------------*/
.account-page {
    padding: 50px 0;
}
.login-container {
    background: radial-gradient(#fff, #999494);
}
.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    border-radius: 10px;
}
.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn {
    display: inline-block;
}
.form-container Form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn :focus {
    outline: none;
}
#LoginForm {
    left: -300px;
}
#RegForm {
    left: 0;
}
form a {
    font-size: 12px;
}
#indicator {
    width: 95px;
    border: none;
    position: relative;
    left: 10px;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(145, 28, 28)), color-stop(0.72, rgb(189, 73, 73)), color-stop(0.86, rgb(217, 122, 122)));
}
input[type=radio] {
    border: 0px;
    width: 5%;
    height: 3em;
}
.bottomlinks ul {
    list-style: none;
    padding: 0;
}
.news img {
    box-sizing: border-box;
    width: 100%;
    /*padding: 4rem;*/
}
.newsv1 img {
    box-sizing: border-box;
    width: 292.5px;
    height: 170px;
    /*padding: 4rem;*/
}
.sidebar img {
    box-sizing: border-box;
    width: 100%;
}
.articlecontent {
    padding: 2rem;
    text-align: left;
}
.article {
    margin-bottom: 1.5rem;
    margin-top: 16rem;
margin-left: 13.7rem;
    background-color: rgb(231, 231, 231);
    width: 1080px;
   
}
.artic {
    margin-top: 5.5rem;
    margin-bottom: 10.5rem;
    margin-left: 1rem;
    background-color: white;
    height: 170px;
    width: 292.5px;
}
.pins {
    width: 292.5px;
    height: 100px;
    padding: 1rem;
    margin-left: 0rem;
    background-color: rgb(231, 231, 231);
}
.pins :hover {
    color: rgba(0, 0, 0, .8);
}
.tit {
    overflow-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -moz-hyphens: none;
    font-size: 1.08rem;
    line-height: 1.25;
    min-height: auto;
    font-weight: 720;
    text-align: left;
}
.barre2 {
    flex: 1;
    text-align: right;
    background-color: white;
    margin-top: 2.5rem;
    margin-left: 55rem;
    margin-right: 10.5rem;
    font-size: 16.5px;
}

/*.pins {
    padding: 1rem;
    margin-bottom: 3rem;
    margin-top: -21rem;
    margin-right: 2rem;
    background-color: rgb(114, 5, 5);
}*/
.breaking-news {
    padding: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
font-size: 18px;
    
}
.social-icons {
    text-align: right;
    flex-grow: 1;
}

.social-icons i {
    margin: 0 7px;
    cursor: pointer;
}
.social-icons i:hover {
    color: #e08b6c;
    cursor: pointer;
}

.breaking-news:hover,
.social-icons i:hover {
    color: #e08b6c;
    cursor: pointer;
}
.bntime {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    padding: 0 10px;
    font-size: 13px;
padding-top: 7px;
}
.breaking-news-section {
    padding: 0 30px 0 60px;
    display: flex;
}
#btext {
    width: 200px;
    font-size: 17px;
    text-transform: uppercase;
    color: #522c1e;
    font-weight: 700;
    margin: auto 0;
    padding-top: 10px;

}
/*---------footer------------*/
.footer {
    background: #A19C9C;
    color: #000000;
    font-size: 14px;
    padding: 8px 0 20px;
    margin-top: 20px;
}
.footer p {
    color: #000000;
}
.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 {
    flex-basis: 30%;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}
ul {
    list-style-type: none;
}
.app-logo {
    margin-top: 20px;
}
.app-logo img {
    width: 140px;
}
.footer hr {
    border: none;
    background: #242222;
    height: 1px;
    margin: 20px 0;
}
.copyright {
    text-align: center;
}
img {
    max-width: 100%
    /* to make all images responsive */
}
.barre {
    flex: 1;
height:40px;
    text-align: right;
    background-color: red;
    margin-top: 2.5rem;
    margin-left: -3.3rem;
    margin-right: -3.3rem;
    font-size: 16.5px;
}
.text {
    font-size: 1.2rem;
    line-height: 1.5;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 150px;
    margin-inline-end: 150px;
}
.vues {
    flex: 1;
    position: absolute;
    text-align: left;
    background-color: rgba(185, 171, 171, 0.404);
    color: rgb(238, 237, 237);
    margin-top: 0.05rem;
    margin-left: 0.2rem;
    font-size: 26px;
    line-height: 100%;
    font-weight: 700;
}
.titre {
    flex: 1;
    text-align: left;
   
    margin-top: 5rem;
    margin-bottom: -11.9rem;
    margin-left: 10.5rem;
    margin-right: 0rem;
    font-size: 36px;
}
.titre1 {
    flex: 1;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.96);
    margin-top: 9.5rem;
    margin-bottom: -10rem;
    margin-left: 1.5rem;
    margin-right: 21.5rem;
    font-size: 48px;
}
.related_posts {
      position: absolute;

    width: 180px;
    float: left;
    left: 9px;

    background-color: rgb(231, 231, 231);

	padding:10px;
}
.related_posts ul li {
    list-style-type: none;
    margin: 0 0 30px;
    display: block;
}
.related_posts ul li img {
    margin: 0 0 15px;
    max-width: 100%;
    height: auto;
    padding-top: 40px;

}
.related_posts ul li a {
    display: block;
font-size:14.5px;
    font-weight: 700;
    line-height: 1.3;
text-align:left;
}
.related_posts ul li :hover {
    color: rgba(0, 0, 0, .8);
}
.related_posts span {
    font-size: 11.5px;
    color: #999;
}
ul, ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
.related_posts h3 {
    border-top: 3px solid #222;
    padding: 15px 0 0;
    font-weight: bold;
    text-align: left;
}

 .date1 {
        flex: 1;
        text-align: left;
    }
/************************** flex box ***************************/
.container1 {
    display: flex;

}
.header {
    box-sizing: border-box;
    /*width including margins paddings */
    
    width: 100%;
    text-align: center;
}
.footer {
    box-sizing: border-box;
    width: 100%;
    /* so that header n footer are 100 % wide */
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* so that automatically equal spaces is arranged between the links*/
}
.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.newsv1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/****************** media queries *********************/

/******************** mobiles *****************************/
@media screen and (max-width: 520px) {
.breaking-news-section {
        padding: 10px;
        flex-wrap: wrap;
    }
    .container {
        flex-direction: column;
    }
}

/****************************** tablets **************************/
@media screen and (min-width: 521px) and (max-width: 830px) {
    .container {
        flex-wrap: wrap;
    }
    /*.news {
        box-sizing: border-box;
        flex: 3;
        /* news occupies 2/3 of width n sidebar 1/3 of width */
    /*    margin-right: 1rem;
    }
    
    .sidebar {
        box-sizing: border-box;
        flex: 1;
    }
}

/********************************** Desktops **************************/
    
    @media screen and (min-width: 1080px) {
        .container {
            flex-wrap: wrap;
        }
        /* .news {
        box-sizing: border-box;
        flex: 3;
        /* news occupies 2/3 of width n sidebar 1/3 of width */
        /*
    margin-right: 1rem;
    margin-top: 5rem;
    /* }
    
    .sidebar {
        box-sizing: border-box;
        flex: 1;
    }
    
    .big {
        width: 100%
    }
    
    .medium {
        flex: 2;
        /* so that 2 medium can lie side to side */
        /* }
    
    .small {
        flex: 1;
        /* so that three small lie side to side */
        /*}*/
    }